@charset "utf-8";
/* CSS Document */

div {
    border-radius : 2px;
    background-color : #d9dc14;
    padding : 10px;

}

#tampilantabel {
    font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse : collapse;
    width : 100%;
}

#tampilantabel td, #tampilantabel th {
    border : 1px solid #2600ff;
    padding : 8px;
}

#tampilantabel tr:nth-child(even) {background-color : #FFFAF0;}
#tampilantabel tr:hover {background-color : #FFFFFF;}

#tampilantabel th {
    padding-top : 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(8, 160, 8);
    color : rgb(253, 220, 29);
    
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(25, 218, 7);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], input[type=password]:focus {
    background-color: rgb(255, 251, 0);
}

input[type=submit], input[type=button], input[type=reser] {
    background-color: rgb(255, 51, 0);
    border: none;
    color: rgb(22, 218, 48);
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 8px;
    cursor : pointer;
    border-radius: 4px;
    float:right;
}

input[type=submit]:hover {
    background-color: rgb(22, 19, 177);

}
img {
    border-radius: 80%;
}